/* Submit Form */

.ever-form {

}
.admin_buttons {
  margin-left: auto;
}
.admin_button {
  text-decoration: none;
  border: none;
  border: 2px solid;
  background-color: #0a6eb4;
  color: #fff;
  padding: 6px;
  margin-right: 10px;
}
.admin_post_delete {
  background-color: #cc0000;
  border-color: #a30000;
  color: #fff;
}
.admin_post_delete:hover {
  background-color: #820000;
  color: #fff;
}
.admin_post_update {
  background-color: #006600;
  border-color: #005100;
  color: #fff;
}
.admin_post_update:hover {
  background-color: #004c00;
  color: #fff;
}
.form-item-name {
  max-width: 200px;
}
.form-item-email {
  max-width: 200px;
}
.form-item-phone-number {
  max-width: 200px;
}
.form-item-comment {
  max-width: 300px;

}
.form-textarea{
  resize: none;
  height: 70px;
}
.form-ever-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 5px ridge #1995AD;
  /*border-bottom: 5px ridge #1995AD;*/
  padding-bottom: 20px;
}
.form-ever-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.information-fields {
  margin-right: 15px;
}
.upload-fields {
  margin-left: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Articles */
.posts__title {
  margin: 0 auto;
  width: fit-content;

  font-size: 27px !important;
}
.ever_module__title {
  margin: 20px auto 0;
  padding: 10px;
  width: fit-content;

  font-size: 27px !important;
}

.posts__feedback {
  margin-top: 25px;

  border: 9px double #1995AD;
  background-color: #F1F1F2;
  box-shadow: 15px 6px 23px -7px rgba(0,0,0,0.29);

}
.posts__feedback:last-of-type {
  margin-bottom: 20px;
}
.posts__inner {
  padding: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;
}
.user__column {
  font-family: 'Courier New', Monospace, 'sans-serif';
  max-width: 200px;
  width: 100%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px dashed #A1D6E2;
  border-radius: 25px;
  background-color: rgba(2%, 22%, 32%, 0.8);
  color: #fff;
}
.user__avatar {
  width: 128px;
  height: 128px;
}
.user__name {
  margin-top: 10px;
  font-size: 20px;
  padding: 5px 0;
  max-width: 210px;
}
.user__email {
  max-width: 210px;

}
.user__tel {
  max-width: 143px;
  margin-top: 10px;

}

.content__row {
  align-self: flex-start;
}
.content__text {
  margin-top: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-height: 400px;
  min-height: 200px;
}
.user__feedback {
  letter-spacing: 0.3px;
  font-size: 15px;
  font-family: "Open Sans", Verdana, sans-serif;

  margin: 0;
  padding: 0 10px;
  max-width: 600px;

}
.user__photo {
  padding: 5px;
  max-width: 120px;
  max-height: 120px;
  margin-top: auto;
}

.timestamp {
  font-family: 'Courier New', Monospace, sans-serif;
  font-weight: 600;

  position: absolute;
  right: 10px;
  bottom: 10px;
}

/* Adaptive */

@media all and (max-width: 1030px) {
  .posts__inner {
    flex-direction: column;
  }
  .content__row {
    align-self: center;
  }
  .content__text {
    max-height: none;
  }
  .user__feedback {
    text-align: center;
  }
}
@media all and (max-width: 962px) {
  .form-ever-inner {
    flex-direction: column;
  }
  .information-fields {
    margin: 0;
  }
  .upload-fields {
    margin: 0;
  }
  .form-item {
    margin: 0 !important;
    max-width: 100%;
  }
  .form-tel {
    width: 100%;
  }
}
@media all and (max-width: 650px) {
  .form-ever-inner {
    flex-direction: column;
  }
  .information-fields {
    padding: 0 10px;
  }
  .upload-fields {
    margin: 0;
  }
  .form-item {
    margin: 0 !important;
    max-width: 250px;
  }
  .form-tel {
    width: 100%;
  }
}
@media all and (max-width: 570px) {
  .timestamp {
    font-size: 11px;
  }
}
@media all and (max-width: 450px) {
  .admin_post_delete {
    margin-bottom: 30px;
  }
  .posts__feedback {
    padding-bottom: 20px;
  }
  .user__photo {
    margin-bottom: 25px;
  }
  .timestamp {
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
  }
}
